.alernate-heading-title {
    padding-top: 15%;
    padding-bottom: 15%;
    background: #660000;
}

.page-section {
    padding-top: 2.5%;
    padding-bottom: 2.5%;
}

.heading-text {
    font-size: 50px;
    font-weight: bold;
}

.heading-section {
    padding-bottom: 2.5%;
}

.bg-maroon {
    background: #660000;
}

.bg-gold {
    background: #F2AF32;
}

.text-maroon {
    color: #660000;
}

.text-gold {
    color: #F2AF32;
}

.feature-list-item {
    color: #660000;
    font-weight: bold;
}

.fit-to-container {
    width: 100%;
    max-width: 100%;
}

.defaultNoShow {
    display: none;
}

.infoForceLeft {
    text-align: left;
}